/*-- scss:defaults --*/

@import url(./fonts/league-gothic/league-gothic.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

// fonts
$font-family-sans-serif: Lato, sans-serif !default;

// colors
$body-bg: #727d70 !default;
//$code-block-bg: #fae3f2 !default;
$body-color: #ffffff !default;
$link-color: #ffffff !default;
$selection-bg: #ffffff !default;
$code-color: var(-#727d70-hl-fu-color) !default;
$primary-color: #ffffff !default;
$secondary-color: orange !default;
$tertiary-color: #ffffff !default;
$yellow-color: yellow !default;

/*-- Define Bootstrap color variables --*/

// The page text color.
$body-color: $primary-color;
// Code block background
$code-block-bg: white;
//Background color of inline code 
$code-bg: #959c94;
//color of inline code
//$code-color: $tertiary-color;

//code
$code-color: #727d70 !default;
$font-family-monospace: 'Inconsolata', monospace  !default;



// headings
$presentation-heading-font: "Lato", "Book Antiqua", Palatino, serif !default;
$presentation-heading-color: #ffffff !default;

/*-- scss:rules --*/

.reveal pre.sourceCode code {
	max-height: 3000px;
	max-width: 2000px;
}

.reveal a {
  line-height: 1.3em;
}

#title-slide {
  .title, {
    opacity: 1;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 700;
    font-family: "Lato";
    text-shadow: 0px 0px 0px #ffffff;
    color: white !important;
}
  .background: {
    background-color: #ffffff;
    
  }
}